SCIM + sshPublicKeys

We currently place sshPublicKey value (in SCIM) within `x509Certificates.value` within SCIM User Core schema
https://sram.surf.nl/api/scim/v2/Schemas/urn:ietf:params:scim:schemas:core:2.0:User

SCIM [RFC7643 ](https://www.rfc-editor.org/rfc/inline-errata/rfc7643.html)says:

>    x509Certificates
>       A list of certificates associated with the resource (e.g., a
>       User).  Each value contains exactly one DER-encoded X.509
>       certificate (see [Section 4 of [RFC5280]](https://www.rfc-editor.org/rfc/rfc5280#section-4)), which MUST be base64
>       encoded per Section 4 of [RFC4648].  A single value MUST NOT
>       contain multiple certificates and so does not contain the encoding
>       "SEQUENCE OF Certificate" in any guise.

sshPublicKeys are not x509 certificates. This means we do not conform to the SCIM spec. 

To fix this, consider extending SCIM SRAM User extension schema to include sshPublicKey.

We can also consider extending the data provided about the key in SCIM / SAML / OIDC / LDAP. Right now, we only provide the public key value. But we could add other data if useful. For example, Indigo IAM provides the following:
https://indigo-iam.github.io/v/v1.10.0/docs/reference/api/scim-api/#:~:text=cert-,SshKeys

> 
> <h4 id="sshkeys">SshKeys</h4>
> 
> Claim | Description
> -- | --
> display | A descriptive label linked to the key
> primary | Whether the key should be considered the primary one for the user
> value | The ssh key encoded value
> fingerprint | The key fingerprint
> created | When the key was first linked to the account
> lastModified | When the key was last modified


To avoid a sudden breaking change, consider marking `x509Certificates.value` as deprecated but continue to support it for N months or so. Also work with affected SPs (e.g. SRC) to adjust accordingly.